.game-area,
.game-container {
  display: flex;
  flex-direction: column;
}

.game-area {
  width: 100vw;
  height: calc(100vh - 60px);
  padding-top: 40px;
  background-color: #edede9;
  justify-content: start;
  align-items: center;
}
.game-turn {
  padding: 20px;
}

.game-container {
  background-color: white;
  max-width: 900px;
  background-image: url("../assets/ChineseChessBoard.svg");
  background-repeat: no-repeat;
  border-radius: 12px;
}

.game-row,
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-row {
  flex-basis: 10%;
}

.box {
  width: 100%;
  height: 100%;
  flex-basis: calc(100% / 9);
}

.piece {
  width: 80%;
  height: 80%;
  font-size: 3vw;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}

.red {
  background-color: #bf0603;
}

.black {
  background-color: #495057;
}

.moveable {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #cba9ef;
  opacity: 70%;
}
.moveable:hover,
.active:hover {
  cursor: pointer;
}
